<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Characters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>
<body>
<div class="container">
    <h3> Add Character</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-12">
                <form action="#" th:action="@{/characters/add}"
                      th:object="${character}" method="post">
                    <div class="row">

                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Name</label>
                            <input
                                    id="name"
                                    type="text"
                                    th:field="*{name}"
                                    class="form-control"
                                    placeholder="Name">
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="nameStartsWith" class="col-form-label">Name Starts With</label>
                            <input
                                    id="nameStartsWith"
                                    type="text"
                                    th:field="*{nameStartsWith}"
                                    class="form-control"
                                    placeholder="nameStartsWith">
                            <span th:if="${#fields.hasErrors('nameStartsWith')}" th:errors="*{nameStartsWith}"
                                  class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="age" class="col-form-label">Age</label>
                            <input
                                    id="age"
                                    type="text"
                                    th:field="*{age}"
                                    class="form-control"
                                    placeholder="Age">
                            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="comic" class="col-form-label">Comic</label>
                            <input
                                    id="comic"
                                    type="text"
                                    th:field="*{comic}"
                                    class="form-control"
                                    placeholder="Comic">
                            <span th:if="${#fields.hasErrors('comic')}" th:errors="*{comic}"
                                  class="text-danger"></span>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value="Add Characters">
                            <a href="/comics/list" class="btn btn-success"> <i class="btn-primary"></i>&nbsp;Link to
                                list of comics!
                            </a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<div class="container">

    <div class="card">
        <div class="card-body">
            <div th:switch="${characters}" class="container">
                <div class="col-md-10">
                    <h2 th:case="null">No Characters yet!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>nameStartsWith</th>
                                <th>Age</th>
                                <th>Comic</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="character : ${characters}">
                                <td th:text="${character.id}"></td>
                                <td th:text="${character.name}"></td>
                                <td th:text="${character.nameStartsWith}"></td>
                                <td th:text="${character.age}"></td>
                                <td th:text="${character.comic.name}"></td>
                                <td>
                                    <a th:href="@{/characters/delete/{id}(id=${character.id})}"
                                       class="btn btn-primary"><i class="fas fa-characters-times ml-2"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>